* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: rgb(211, 211, 211, 0.5);
}

/* styles of header */
#bg-header {
  background-image: url(img/background\ img.png);
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.site-header {
color: #fff;
display: flex;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 64px;
}

/* Container styles */
.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
/* styles of logo img */

.main-logo {
  margin-right: 336px;
}

/* styles of navbar */

.navbar-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 50px;
}
.navbar-item:not(:last-child){
  margin-right: 50px;
}

.navbar-link{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  transition: color 0.6s ease;
}

.navbar-link:hover {
  color: #313EF7;
}
.navbar-link:active {
  opacity: 0.8;
}

/* styles of button */

.btn {
border: 1px solid #fff;
border-radius: 59px;
padding: 8px 38px;
background-color: inherit;
transition: background-color 0.6s ease;
}
.btn:hover {
  background-color: #778899;
  color: #fff;
}
.btn:active {
  opacity: 0.8;
}

/* Hero styles */


/* first section styles */


.fs-section-img {
  width: 1200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 30px;

}

.fs-section-bottom {
background-color: inherit;
width: 54%;
margin: auto;
height: 96px;
text-align: center;
margin-top: -20px;
}

.fs-section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.fs-section-motto {
  display: inline-block;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -8px;
}

/* Order nav styles */
.sc-section {
  margin-top: -135px;
}
.order-tab {
  margin-bottom: 0;
}
.order-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #fff;
  width: 533px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.order-btn {
  width: 177px;
  flex-grow: 1;
  background-color: inherit;
  transition: background-color 0.5s ease,
  color 0.5s ease;
}
.first {
  border-top-left-radius: 30px;
}
.third {
  border-top-right-radius: 30px;
}
.order-btn-link {
  display: block;
  padding: 16px 20px 16px 20px;
  border: 1px solid rgba(211, 211, 211, 0.6);
  color: #030522;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
}

.order-btn-link:hover {
  background-color: #313EF7;
  color: #fff;
}
/* Book options styles */
.book-options {
width: 1200px;
background-color: #fff;
border-radius: 0 20px 0 0;
}
.book-options > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  padding: 0;
  list-style-type: none;
  gap: 80px;
}
.book-options > ul > li > a, p {
  display: flex;
  flex-direction: row;

}


/* Third section styles */

.thd-section {
  margin-top: 200px;
  background-color: inherit;
  width: 1200px;
  margin-left: 120px;
}

.features-heading {
font-weight: 700;
font-size: 40px;
line-height: 150%;
letter-spacing: 0.015em;
color: #030522;
text-align: center;
text-transform: capitalize;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-container {
  background-color: #fff;
  width: 281px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}